/.vscode
/build
*.spv
/CMakePresets.json
/out

/shaders/slang/*.glsl

/shaders/**/*.bat
/shaders/**/*.cmd
/shaders/**/*.ps1
/shaders/**/*.sh
/shaders/**/build

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
