[submodule "vendors/vk-bootstrap"]
	path = vendors/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "vendors/VulkanMemoryAllocator"]
	path = vendors/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendors/glslang"]
	path = vendors/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "vendors/Vulkan-Headers"]
	path = vendors/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/volk"]
	path = vendors/volk
	url = https://github.com/zeux/volk.git
[submodule "vendors/fmt"]
	path = vendors/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendors/span"]
	path = vendors/span
	url = https://github.com/tcbrindle/span.git
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendors/stb"]
	path = vendors/stb
	url = https://github.com/nothings/stb.git
[submodule "vendors/tinygltf"]
	path = vendors/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "vendors/JoltPhysics"]
	path = vendors/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "vendors/freetype"]
	path = vendors/freetype
	url = https://github.com/freetype/freetype.git
[submodule "vendors/utfcpp"]
	path = vendors/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "vendors/harfbuzz"]
	path = vendors/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "vendors/im3d"]
	path = vendors/im3d
	url = https://github.com/john-chapman/im3d.git
[submodule "vendors/openal-soft"]
	path = vendors/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendors/Catch2"]
	path = vendors/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendors/ogg"]
	path = vendors/ogg
	url = https://github.com/xiph/ogg.git
[submodule "vendors/vorbis"]
	path = vendors/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "vendors/mimalloc"]
	path = vendors/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "vendors/concurrentqueue"]
	path = vendors/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendors/flatbuffers"]
	path = vendors/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendors/enet"]
	path = vendors/enet
	url = https://github.com/lsalzman/enet.git
[submodule "vendors/tomlplusplus"]
	path = vendors/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
